<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/htmx.js"></script>
  <script src="components/basic.js" type="module"></script>

  <title>Playground</title>
  <link rel="stylesheet" href="styles/main.css">

</head>

<body id="main">
  <header id="header">
    <h2 hx-push-url="true" style="flex:1; cursor: pointer" hx-get="/" hx-target="#main" >boomer.homes</h2>
    <input type="text" name="username" placeholder="Enter Username" id="username">
  </header> 

  <hr>
  <server-comp>
  </server-comp>
  
  <div id="content">
    <h3>&nbsp;--- Few Games Here --- </h3>
    <div id="game_list">
      <ul hx-push-url="true" >
        <li hx-get="/uno" class="links" hx-target="#content">Uno</li>
        <li hx-get="/unonm" class="links" hx-target="#content">Uno Nomercy</li>
        <li hx-get="/poker" class="links" hx-target="#content">Poker</li>
      </ul>
    </div>
  </div>

</body>
<script>
  window.addEventListener('htmx:afterOnLoad', function (event) {
    if (window.location.pathname === '/login') {
      document.title = 'Login';
    } else if (window.location.pathname === '/uno') {
      document.title = 'Uno';
    } else if (window.location.pathname === '/poker') {
      document.title = 'Poker';
    } else {
      document.title = 'Playground';
    }
  });
  
</script>
<script>
  document.addEventListener('htmx:responseError', function(event) {
    if (event.detail.xhr.status === 403) {
      var response = JSON.parse(event.detail.xhr.responseText);
      alert(response.detail);
    }
  });
</script>
</html>