body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li:hover {
    color: blue;
    cursor: pointer;
}

#login:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


#header {
    display: flex; 
    background-color: rgba(0, 225, 255, 0.119);
    padding-left: 10px;
    padding-right: 10px;
}

#main{
    font-family: monospace;
}

#server{
    display: flex;   
}

#cserver{
    flex: 2;
    padding: 0px 10px 0px 10px;
}

#cserver_details{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    height: 50px;
}
#cserver_details > * {
    margin-right: 10px; /* Adjust as needed */
}

#cserver_name{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    color: white;
    background-color: red;
}


#jserver{
    flex: 1;
    padding: 0px 10px 0px 10px;
}

#jserver_details{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid green;
    height: 50px;
}
#jserver_details > * {
    margin-right: 10px; /* Adjust as needed */
}
#jserver_name{
    display: inline-block;
    padding: 2px 10px 2px 10px;
    color: white;
    background-color: green;
}

